[report]
omit =
    *__init__.py
    __pycache__
    tests*
    .idea/*
    apollo_orm/orm/abstracts/*
    apollo_orm/utils/*
    apollo_orm/domains/models/entities/*

[run]
relative_files = True
omit =
    *__init__.py
    __pycache__
    test/*
    .idea/*
    apollo_orm/orm/abstracts/*
    apollo_orm/utils/*
    apollo_orm/domains/models/entities/*

[coverage:run]
relative_files = True
omit =
    *__init__.py
    __pycache__
    test*
    idea/*.
    apollo_orm/orm/abstracts/*
    apollo_orm/utils/*
    apollo_orm/domains/models/entities/*

[xml]
output = coverage.xml